doctype html
html
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Bootstrap 3 定制按钮实例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- Bootstrap core CSS -->
    link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <button type="button" class="btn btn-w3r">Customized button</button>
    <!-- jQuery (对Bootstrap的 JavaScript插件来说是必要的--->
    script(src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")

